# POSTGRES 
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here # REPLACE THIS
POSTGRES_DB=postgres
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432


# LOGGER
LOGGER_VECTOR_HOST=127.0.0.1
LOGGER_VECTOR_PORT=9000
LOGGER_LOKI_PORT=3100
LOGGER_GRAFANA_PORT=3000
LOGGER_USERNAME=admin
LOGGER_PASSWORD=your_password_here  # REPLACE THIS
LOGGER_LOG_LEVEL=INFO

# LLM
LLM_API_KEY=your_llm_api_key   # REPLACE THIS

LLM_USE_LOCAL=false
LLM_OLLAMA_PORT=11434
LLM_OLLAMA_BASE_URL=http://127.0.0.1:${LLM_OLLAMA_PORT}/v1
LLM_OLLAMA_MODEL=qwen2.5:0.5b


LLM_OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
LLM_OPENROUTER_MODEL=google/gemini-2.5-flash 


# INFINITY
INFINITY_BASE_URL=http://127.0.0.1:7997
INFINITY_PORT=7997
INFINITY_EMBEDDING_MODEL=BAAI/bge-m3
INFINITY_RERANKER_MODEL=BAAI/bge-reranker-v2-m3
INFINITY_PROMPT_GUARD_MODEL=meta-llama/Llama-Prompt-Guard-2-86M
INFINITY_NLI_MODEL=StevenLimcorn/indo-roberta-indonli
INFINITY_HF_API_KEY=your_hf_api_key # REPLACE THIS

# RAM
RAM_NLI_MODEL=${INFINITY_NLI_MODEL} 

# Unstructured API (PDF Parser)
UNSTRUCTURED_PORT=8001
UNSTRUCTURED_BASE_URL=http://127.0.0.1:${UNSTRUCTURED_PORT:-8001}

# Qdrant Vector Database
QDRANT_HOST=127.0.0.1
QDRANT_PORT=6333
QDRANT_GRPC_PORT=6334
QDRANT_COLLECTION_NAME=knowledge_base

# Storage
STORAGE_KB_UPLOAD_DIR=./uploads/knowledge_base
STORAGE_USER_UPLOAD_DIR=./uploads/user_chat